<% layout('layout/boilerplate') %>
    <div class="flex flex-col items-center">
        <h1 class="text-3xl font-bold text-blue-600 mb-5">All Campgrounds</h1>

        <% for ( let campground of campgrounds) { %>

            <div class="mb-3 max-w-[991.98px] border border-gray-300 rounded-lg shadow-md p-4 bg-white">
                <div class="flex flex-col md:flex-row">
                    <div class="md:w-1/2">
                        <img src="<%= campground.images[0].url %>" class="object-cover max-w-md w-full"
                            alt="camping photo">
                    </div>
                    <div class="md:w-1/2">
                        <div class="p-4 flex flex-col h-full">
                            <h5 class="text-xl font-semibold mb-2">
                                <%= campground.title %>
                            </h5>
                            <p class="text-gray-700 mb-2">This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.</p>
                            <p class="text-sm text-gray-500 mb-2">Location: <%= campground.location %>
                            </p>
                            <p class="text-sm text-gray-500 mb-4">Price: <%= campground.price %> €</p>
                            <a href="/campgrounds/<%= campground._id %>"
                                class="text-white bg-blue-500 hover:bg-blue-600 py-2 px-4 rounded-full mt-auto w-1/4 text-center">
                                Visit
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <% } %>
    </div>